---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .filter((post) => post.data.published);
---

<BaseLayout sideBarActiveItemID="home" title="Homepage" description="">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold">I'm Julia Els</div>
        <div class="text-3xl py-3 font-bold">
            Physics Student at RWTH Aachen
        </div>
        <div class="py-2">
            <text class="text-lg">
                I love working on particle physics research and science
                communication. I interned at <a
                    class="link"
                    href="https://home.cern"
                    target="_blank">CERN</a
                > and <a
                    class="link"
                    href="https://www.desy.de/"
                    target="_blank">DESY</a
                >, wrote a paper and won at two science competitions <a
                    class="link secondary"
                    href="https://www.mnu.de/wettbewerbe#physikwettbewerb"
                    >Bundesweiter Physikwettbewerb</a
                > and <a
                    class="link"
                    href="https://www.bayer.com/media/jugend-forscht-physik/"
                    >Jugend Forscht</a
                >.
                <!--In my free time I enjoy travelling and running.-->
            </text>
        </div>
        <div class="mt-8 flex flex-col sm:flex-row">
            <a
                class="btn mb-4"
                href="https://www.linkedin.com/in/julia-els-582710239/"
                target="_blank">Let's connect!</a
            >
            <a
                href="https://drive.google.com/file/d/11C9tvxWAewVAvQmOwsgkgaJjbEObS7r4/"
                target="_blank"
                class="btn btn-outline sm:ml-5"
            >
                Download Resume
            </a>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">
            Interested? Learn more below.
        </div>
    </div>

    <!-- featured links and blog posts -->

    {
        posts.map((post) => {
            if (post.data.homepage) {
                if (post.data.link) {
                    return (
                        <>
                            <HorizontalCard
                                title={post.data.title}
                                img={post.data.heroImage}
                                desc={post.data.description}
                                url={post.data.link}
                                target="_blank"
                                badge={post.data.badge}
                                tags={post.data.tags}
                            />
                            <div class="divider my-0" />
                        </>
                    );
                } else {
                    return (
                        <>
                            <HorizontalCard
                                title={post.data.title}
                                img={post.data.heroImage}
                                desc={post.data.description}
                                url={"/blog/" + post.slug}
                                target="_self"
                                badge={post.data.badge}
                                tags={post.data.tags}
                            />
                            <div class="divider my-0" />
                        </>
                    );
                }
            }
        })
    }
    <a href="/work" class="btn btn-ghost">Learn more about me...</a>
</BaseLayout>
